
/*---------------------------------------*/
/*  BASIC SETUP  /*
/*---------------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: #fff;
    font-family: 'brandon-grotesque', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    color: #fff;
}


/*---------------------------------------*/
/*  REUSABLE COMPONENTS  /*
/*---------------------------------------*/


.row {
    max-width: 1140px;
    margin: 0 auto;
}


/*----------- HEADINGS -------------*/


h1 {
    font-family: "lust-display";
    font-size: 80px;
    margin-left: 35px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 3px;    
}


/*----------- BUTTONS -------------*/


.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 150;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-size: 75%;
    transition: border 0.2s, color 0.2s;
}


.btn:hover,
.btn:active {
    border: 1px solid #cecece;
    color: #cecece;
}

.btn-lg:link,
.btn-lg: visited {
    
}


.btn-lg-header:link,
.btn-lg-header: visited {
    margin-top: 50px;
}

.btn-sm:link,
.btn-sm: visited {
    
}



/*---------------------------------------*/
/*  NAVIGATION  /*
/*---------------------------------------*/


.navbar-default .navbar-nav li a {
    color: #fff;
}
.navbar-default .navbar-collapse {
    border: 1px solid transparent;
}

.navbar-custom {
    background: 0 0;
    border: 1px solid transparent
}

.nav>li>a:focus, 
.nav>li>a:hover {
    background-color: transparent;
}

/*------------ NAVIGATION CENTER ------------*/

.navbar-center {
    margin-left: 170px;
    margin-top: 25px;
}

.navbar-center li {
    display: inline-block;
}

.navbar-center li a:link,
.navbar-center li a:visited {
    color: #fff;
    font-size: 80%;
    margin-left: 40px;
    padding: 5px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s
}

.navbar-center li a:hover,
.navbar-center li a:active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

/*------------ NAVIGATION RIGHT ------------*/

.navbar-right {
    margin-top: 20px;
    
    
}

.logo {
    margin-top: 7px;
}




/*---------------------------------------*/
/*  HEADER  /*
/*---------------------------------------*/


header {
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.header-content {
    position: absolute;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -80%);
    text-align: center; 
    height: 100%;
}


.signature {
    display: block;
    margin: 62px auto;

}



/*------------ Carousel ------------*/

.carousel {
    position: relative;
    height: 100%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    top: 33%;
}

.carousel-indicators {
    bottom: 45px;
    left: 72px;
    word-spacing: 12px;
}



/*---------------------------------------*/
/*  Eterno (Product 1)  /*
/*---------------------------------------*/

.eterno {
    background-image: url(img/product_1_brera.jpg);
    background-size: cover;
    background-position: ;
    height: 800px;
}


/*---------------------------------------*/
/*  Dinamico (Product 2)  /*
/*---------------------------------------*/


.dinamico {
    background-image: url(img/product_2_brera.jpg);
    background-size: cover;
    background-position: ;
    height: 400px;
}

/*---------------------------------------*/
/*  Militare (Product 3)  /*
/*---------------------------------------*/

.militare {
    background-image: url(img/product_3_brera.jpg);
    background-size: cover;
    background-position: ;
    height: 400px;
}

/*---------------------------------------*/
/*  Gran Turismo (Product 4)  /*
/*---------------------------------------*/

.gran-turismo {
    background-image: url(img/product_4_brera.jpg);
    background-size: cover;
    background-position: ;
    height: 400px;
}



