
/*---------------------------------------*/
/*  BASIC SETUP  /*
/*---------------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: #fff;
    font-family: "brandon-grotesque", "Arial", "sans-serif";
    
    
}

body {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/*---------------------------------------*/
/*  REUSABLE COMPONENTS  /*
/*---------------------------------------*/


.row {
    max-width: 1140px;
    margin: 0 auto;
}


/*----------- HEADINGS -------------*/


h1 {
    font-family: "lust-display";
    font-size: 80px;
    margin-left: 35px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 3px;    
}

h2 {
    font-family: 'brandon-grotesque';
    text-transform: uppercase;
    font-weight: 600;
    font-size: 250%;
    letter-spacing: 1.2px;
}

p {
   font-family: 'brandon-grotesque'; 
   font-size: 90%;
   font-weight: 400;
   margin: 10px 0 30px;
    
}

li {
    font-size: 80%;
}
/*----------- BUTTONS -------------*/


.btn:link,
.btn:visited {
    display: inline-block;
    padding: 15px 40px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-size: 75%;
    transition: border 0.2s, color 0.2s;
}


.btn:hover,
.btn:active {
    border: 1px solid #cecece;
    color: #cecece;
}

.btn-lg:link,
.btn-lg: visited {
    
}


.btn-lg-header:link,
.btn-lg-header: visited {
    margin-top: 50px;
}

.btn-lg-footer:link,
.btn-lg-footerr: visited {
    
}



/*---------------------------------------*/
/*  NAVIGATION  /*
/*---------------------------------------*/

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav li a {
    color: #fff;
}
.navbar-default .navbar-collapse {
    border: 1px solid transparent;
}

.navbar-custom {
    background: 0 0;
    border: 1px solid transparent
}

.nav>li>a:focus, 
.nav>li>a:hover {
    background-color: transparent;
}


/*------------ NAVIGATION CENTER ------------*/

.navbar-center {
    position: absolute;
    left: 50%;
    margin-top: 25px;
}

.navbar-center li {
    display: inline-block;
    left: -50%;
}

.navbar-center li a:link,
.navbar-center li a:visited {
    color: #fff;
    font-size: 80%;
    margin-left: 40px;
    padding: 5px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s
}

.navbar-center li a:hover,
.navbar-center li a:active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

/*------------ NAVIGATION RIGHT ------------*/

.navbar-right {
    margin-top: 20px;
    margin-right: 4px;
    
}

.logo {
    margin-top: 7px;
}


.nav>li>a {
    position: relative;
    display: block;    
    padding: 10px 10px;
}

.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

/*---------------------------------------*/
/*  HEADER  /*
/*---------------------------------------*/


header {
    height: 100vh;
}


.share {
    position: absolute;
    right: 28px;
    bottom: 28px;

}


/*------------ Carousel ------------*/

.carousel {
    position: relative;
    height: 100%;
    width: 100%;
}

.carousel-inner,
.carousel-inner .item,
.carousel-inner .header-content {
    height: 100%;
}

.carousel .item {
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    
}

.carousel-container {
    margin-top: 300px;
}


.carousel-indicators {
    position: absolute;
    left: 80px;
}
.carousel-indicators li {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 15px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators li.active {
    width: 10px;    
    height: 10px;
    margin: -3px 12px;
    background-color: transparent;
}


.signature {
    display: block;
    padding-top: 20px;

}

.supersportivo-button-grid {
    text-align: center;
    margin-top: 170px;
}




/*---------------------------------------*/
/*  Eterno (Product 1)  /*
/*---------------------------------------*/

.eterno-box {
    background-image: url(img/product_1_brera.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;
    
}

.eterno-grid {
    margin-top: 90px;
}


/*---------------------------------------*/
/*  Dinamico (Product 2)  /*
/*---------------------------------------*/


.dinamico-box {
    background-image: url(img/product_2_brera.jpg);
    background-size: cover;
    background-position: ;
    height: 400px;
}

.dinamico-grid {
    margin-top: 60px;
}
.dinamico-title {
    margin-top: 15px;
    margin-left: 35px;
}
    
.dinamico-description {
    margin-right: 35px;
    text-align: right;
}

.btn-dinamico {
    float: right;
    margin-right: 35px;
}

/*---------------------------------------*/
/*  Militare (Product 3)  /*
/*---------------------------------------*/

.militare-box {
    background-image: url(img/product_3_brera.jpg);
    background-size: cover;
    background-position: ;
    height: 800px;
}

.militare-grid {
    margin-top: 100px;
}

.militare-row {
    padding-right: 110px;
}

/*---------------------------------------*/
/*  Gran Turismo (Product 4)  /*
/*---------------------------------------*/

.gran-turismo-box {
    background-image: url(img/product_4_brera.jpg);
    background-size: cover;
    background-position: ;
    height: 400px;
}


.gran-turismo-grid {
    margin-top: 35px;
    padding-left: 30px;
}

.gran-turismo-description-grid {
    text-align: right;
    padding-right: 75px;
}


/*---------------------------------------*/
/*  Gran Turismo (Product 4)  /*
/*---------------------------------------*/

.footer {
    background-color: #1d1d1d;
    height: 100px;
    text-align: center;
}

.btn-footer {
    margin: 25px;
}
